.titlemy {
font-size: 2rem;
width: 90vw;
height: 15vh;
color: white;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
.titleDescription{
font-size: 1rem;
width: 90vw;
height: 15vh;
color: white;
justify-content: center;
align-items: center;
margin: auto;
}
.titleservics{
    width: 90vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;

}
.part1{
width: 45vw;
height: 60vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
color: white;

}
.part2{
    width: 45vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    color: white;
    
}

.margintop{
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
  
}
.underline22{
    width: 10vw;
    height: 2px;
    background-color: white;
    margin-top: 5px;
}